<p id="CallId" hidden>@ViewBag.CallId</p>

<div>
    <button id="toggleVideo" class="btn btn-info" data-state="closed">Start video</button>
    <button id="toggleShare" class="btn btn-info" data-state="closed">Start sharing</button>
</div>

<video id="localVideo" autoplay playsinline hidden></video>

<img id="userSample" alt="Remote Stream" style="display: none;"/>
<div id="users">
</div>

<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/call.js"></script>
<script src="~/js/video.js"></script>
<script src="~/js/screenshare.js"></script>